@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


html, body{
    position: relative;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
/*    overflow: hidden;*/
    background-color: #f1f1f1;
}
img{
	width: 100%;
	border: 0;
	display: block;
}
a{
	text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
/*  background-image: url("../images/_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

*:focus {
    outline: none;
}
input.ipt-text, textarea {
  color: #252525;
  font-size: 14px;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: #dedede 0px solid;
  background: #f7f7f7;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  word-break:break-all;
}
textarea {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize:none;
  /*border: solid 2px rgba(0, 0, 0, 0.2);*/ }

input[type="file"] {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  overflow: hidden !important;
  z-index: 100 !important;
  margin-top: -20px;
  padding-top: -20px;
  top: -20px; }


input.ipt-file {
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

select {
  height: 43px;
  color: #252525;
  font-size: 14px;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 0 14px;
  border: #dedede 1px solid;
  background: url(../images/common/combobox-arrow.png) #f7f7f7 right center no-repeat;
  background-size: 23px 5px;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.combobox-disabled {
  opacity: 0.5;
  pointer-events: none;
}



#loading {
    width: 100%;
    height: 100%;
    min-height: 140px;
    position: fixed;
    z-index: 11;
}
#loading .main {
    width: 274px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -137px;
    position: absolute;
}
#loading .main .number {
    width: 100%;
    height: 35px;
    float: left;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-indent: 10px;
}
#loading .main .bar {
    width: 225px;
    height: 12px;
    float: left;
    border: 2px solid #000;
    margin: 9px 0 0 25px;
}
#loading .main .bar .program{

    height: 100%;
    float: left;
    background-image: linear-gradient(-44deg, transparent 0%, #000 9%, #000 50%, transparent 50%, transparent 72%, #000 75%, #000);
    background-size: 30px 30px;
    -webkit-transition: width .1s;
    -moz-transition: width .1s;
    -ms-transition: width .1s;
    -o-transition: width .1s;
    transition: width .1s;
    -webkit-animation: loading-bar-programe 3s linear infinite;
    -moz-animation: loading-bar-programe 3s linear infinite;
    -ms-animation: loading-bar-programe 3s linear infinite;
    -o-animation: loading-bar-programe 3s linear infinite;
    animation: loading-bar-programe 3s linear infinite;
}
@-webkit-keyframes loading-bar-programe {
    from { background-position: 0 0; }
    to   { background-position: 60px 0; }
}
@-moz-keyframes loading-bar-programe {
    from { background-position: 0 0; }
    to   { background-position: 60px 0; }
}
@-o-keyframes loading-bar-programe {
    from { background-position: 0 0; }
    to   { background-position: 60px 0; }
}
@keyframes loading-bar-programe {
    from { background-position: 0 0; }
    to   { background-position: 60px 0; }
}
#wrapper{
  width: 100%;
  height: 100%;
    min-height: 550px;

}
.CanvasImg {
        background-position: top center;
        background-attachment: fixed;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 0;
        background: url("../images/_bg.jpg") no-repeat;
        background-size: 100% !important;
        -webkit-background-size: 100% !important;
        -moz-background-size: 100% !impoertant;
    }
.center{
   width: 100%;
   max-width: 350px;
   margin: 0 auto;
}
.menu-toggle {
	width: 22px;
    height: auto;
    position: relative;
    cursor: pointer;
    float: right;
    margin: 17px 10px 0 0;
}
.menu-toggle.active .one {
  -moz-transform: rotate(45deg) translate(3px, 3px);
  -ms-transform: rotate(45deg) translate(3px, 3px);
  -webkit-transform: rotate(45deg) translate(3px, 3px);
  transform: rotate(45deg) translate(3px, 3px);
}
.menu-toggle.active .two {
  opacity: 0;
}
.menu-toggle.active .three {
  -moz-transform: rotate(-45deg) translate(7px, -7px);
  -ms-transform: rotate(-45deg) translate(7px, -7px);
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
  transform: rotate(-45deg) translate(7px, -7px);
}

.one,
.two,
.three {
  width: 100%;
  height: 2px;
  background: #000000;
  margin: 5px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

header{
	width: 100%;
    height: 62px;
    background: #fff100;
    position: fixed;
    z-index: 9;
    transform: translate3d(0,0,0);
}
header .logo{
    width: 82px;
    float: left;
    margin: 19px 0 0 20px;
}
footer{

	  width: 100%;
    height: 60px;
    background: #2e2e2e;
    bottom: 0px;
    position: fixed;
    z-index: 7;
    transform: translate3d(0,0,0);
}
.footer-img01 {
    width: 336px;
    margin: 19px 0 0 7px;
    float: left;
}

#wrapper .content{

    width: 100%;
    height: calc(100% - 62px - 150px);
    min-height: 350px;
    margin: 61px 0 60px 0;
    position: absolute;
    z-index: 2;
/*    overflow: hidden;
    overflow-y: auto;*/

}
#wrapper .content .inner{

	width: 310px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -155px;
    margin-top: -175px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -155px;
    position: absolute;
    display: none;
}
#is18{

  display: none;
}
.is18-img01{
    width: 227px;
    margin: 70px 0 0 0px;
    /* float: left; */
    position: relative;
    margin: 54px auto;
}
.is18-img02 {
	  width: 123px;
    bottom: -60px;
    position: absolute;
    margin: 0px 110px;

}
.is18btn{

    position: absolute;
    width: 275px;
    height: auto;
    float: left;
    margin: 25px 0 0 0px;
    left: 50%;
    margin-left: -142px;
    top: 110px;
    font-size: 24px;
    color: #000;
    text-align: center;
    padding: 16px 0px;
    border-width: 6px;
    border-style: solid;
    border-color: #000;
    cursor: pointer;

}


.is18btn2{

    position: absolute;
    width: 275px;
    height: auto;
    float: left;
    margin: 25px 0 0 0px;
    left: 50%;
    margin-left: -142px;
    top: 190px;
    font-size: 24px;
    color: #000;
    text-align: center;
    padding: 16px 0px;
    border-width: 6px;
    border-style: solid;
    border-color: #000;
    cursor: pointer;
}
.is18btn.active{
	background-color: #000;
	color: #fff100;
 }

.italic {
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.is18btn .italic:hover {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}
.active .italic:hover {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}


#menu {
  width: 100%;
  height: 100%;
  min-height: 523px;
  position: fixed;
  z-index: 8;

  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
body.menu-open #menu {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
#menu .main {
  float: left;
  width: 100%;
  overflow: hidden;
  margin-top: 61px;
}
#menu .main .menu {
  width: 100%;
  float: left;
}
#menu .main .menu li {
  width: 100%;
  height: 80px;
  margin: 0px;
  float: left;
  background: #191919;
  border-bottom: 2px solid #666; 
}
#menu .main .menu li a {
  width: 100%;
  height: 100%;
  float: left;
}
#menu .main .menu li .main {
  height: 28px;
  float: left;
  margin-top: 23px;
}
#menu .main .menu li .main .text {
  height: 100%;
  margin-top: 0px;
  margin: 0 auto;
  background-image: url(../images/menu.png);
  background-size: auto;
  width: 234px;
}
#menu .main .menu li .main .text {
  
   background-position: 0 0;
}

#menu .main .menu li:nth-child(2) .main .text{
    background-position: 0 -76px;
} 
#menu .main .menu li:nth-child(3) .main .text{
    background-position: 0px -141px;
    height: 46px;
} 
#menu .main .menu li:hover .main .text{

    background-position-x: -233px;
}
#menu .main .social {
  width: 100%;
  float: left;
  background: #191919;
  border-bottom: 2px solid #666; 
}
#menu .main .social ul {
}
#menu .main .social ul li {
  width: calc(50%);
  height: 75px;
  float: left;
  border-right: 1px solid #666; 
  cursor: pointer;
}
#menu .main .social ul li:nth-last-child(1) {
  width: calc(50% - 1px);
  border-right: none; 
}
#menu .main .social ul li a {
  width: 100%;
  height: 100%;
  float: left;
}
#menu .main .social ul li .center {
  width: 174px;
  float: right;
}
#menu .main .social ul li:nth-child(2) .center {
  float: left;
}
#menu .main .social ul li .main {
  margin-top: 0px;
}
#menu .main .social ul li .main .text {
  width: 30px;
  height: 30px;
  float: left;
  margin: 22px 0 0 72px;
  background-image: url(../images/social.png);
  background-size: 60px auto; 
}
#menu .main .social ul li:nth-child(2) .text { background-position: 0 -30px; }
#menu .main .social ul li:hover .text { background-position: -30px 0px; }
#menu .main .social ul li:nth-child(2):hover .text { background-position: -30px -30px; }



@-webkit-keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
    margin-top:0px;
  
  }
  50% {
   /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);*/

    margin-top:-20px;
  }
  100% {
    /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
     margin-top:0px;
  }
}

@keyframes float {
  0% {
    /*box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
    margin-top:0px;
  }
  50% {
   /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);*/
    margin-top:-20px;
  }
  100% {
   /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);*/
    margin-top:0px;
  }
}



.arrowicon{
    position: absolute;
    width: 7px;
    height: 13px;
    top: 27px;
    right: 25px;
}
.footer-img02{

    /*width: 684px;
    margin: 10px -144px;*/
    display: none;
  }
@media (min-width:486px) {
  
  .footer-img01{

    /*width: 684px;
    margin: 10px -144px;*/
    display: none;
  }
  footer{
    height: auto;
  }
  footer .center{
    max-width: none;
  }
    .footer-img02{
     width: 90%;
     display: block;
    /* width: 336px; */
     margin: 20px auto;
     float: none; 
  }
}