html, body{

}

#wrapper .content{
        min-height: 750px;
}
#wrapper .content .inner {
    width: 310px;
    height: 350px;
     top: 20px; 
    left: 50%;
     margin: 0px 0 0 0px; 
     margin-top: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -155px;
    position: absolute;
    display: none;
}
#event{

    position: relative;
    
    /*margin-top: -80px;*/
}

.ahb_wish{
    position: relative;
    width: 185px;
    height: 345px;
    margin: 0 auto;
}
.user_ahb .ahb_wish img{

    position: absolute;
    top: 0px;
    opacity: 0;

}
.user_ahb .ahb_wish img.active{

    opacity: 1;
}
.ahb_wish::before{
    content: "";
    width: 73px;
    height: 41px;
    top: 315px;
    left: 60px;
    position: absolute;
    background-image: url(../images/showdow.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-animation: scaling 2s ease-in-out infinite alternate;
    animation: scaling 2s ease-in-out infinite alternate;
}
.ahb_wish.active::before{

    display: none;
}


@-webkit-keyframes scaling {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}


.ahb_wish img{
    position: absolute;
    top: 20px;


}
.swiper-container .ahb_wish img{

  -webkit-animation: float 4s ease-in-out infinite;
   animation: float 4s ease-in-out infinite; 
}
.wishtitle{
    position: relative;
    width: 230px;
    height: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.wishtitle img{
    position: absolute;
    opacity: 0;
}
.wishtitle img.active{
    opacity: 1;

}

.inputwish p{
    
    margin-top: 6px;
    text-align: left;
    float: left;
    display: inline-block;
}
.inputwish .text:nth-child(1) p{
     
     margin-left: 32px;

}
.inputwish .text:nth-child(1) input{
    width: 220px;
    height: 24px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 2px;

}
.inputwish .text:nth-child(2) textarea{
    width: 220px;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 2px;
    
}
.inputwish .btn{

    position: relative;
    width: 247px;
    margin: 0 auto;
    margin-bottom: 135px; 
}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev{

    background-image: url(../images/swiper_arrow.png);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{

    background-image: url(../images/swiper_arrow.png);
    transform: rotateY(180deg); 
}


#animate{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0px;
    left: 0px;

}
#celebration{

    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -960px;
}
.user_ahb{

    position: relative;
    margin: 0 auto;
}
.user_ahb .ahb_wish{



   position: relative;
   margin: 0 auto;
   top: 0px;
   z-index: 2;
   -webkit-animation: float 4s ease-in-out infinite;
   animation: float 4s ease-in-out infinite;

}
.user_ahb .ahb_wish::before{

    display: none;
}
.wish_b01{
    position: relative;
    width: 260px;
    height: 71px;
    margin: 0 auto;
    margin-top: -50px;
    text-align: center;
    background-image: url(../images/event_b01.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;

}
.wish_b01 p{
    line-height: 75px;
    
}
.wish_b02{
    position: relative;
    width: 260px;
    height: 157px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/event_b02.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%; 
}
.wish_b02 p{
    line-height: 25px;
    padding: 15px 5px;

}
#form{

    position: relative;
    display: none;

}
.form_container{


}
#form .title{

    width: 230px;
    margin: 0 auto;
    margin-bottom: 25px;
}
#form .award{
    width: 268px;
    margin: 0 auto;
    padding: 20px 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ff0000;
    margin-bottom: 25px;

}
#form .tip{
    width: 73px;
    margin: 0 auto;
   margin-bottom: 25px;

}
#form .form_container{

    width: 310px;
    height: 265px;
    margin: 0 auto;
    background-image: url(../images/form_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%; 
    margin-bottom: 25px;

}
#form .btn{

    width: 250px;
    margin: 0 auto;
    margin-bottom: 135px;
    position: relative;
}
#form .btn::before{
    content: "";
    width: 22px;
    height: 17px;
    top: 28px;
    right: 35px;
    position: absolute;
    background-image: url(../images/check_icon.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;

}
.check_btn{
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 137px;
    left: 32px;
    background-color: #ffffff;
    cursor: pointer;
    
   }
.check_btn.check{
    background-color: #000;
}
#form .name{

    position: absolute;
    top: 217px;
    left: 75px;
}
#form .tel{

    position: absolute;
    top: 259px;
    left: 75px;
}
#form .email{

    position: absolute;
    top: 302px;
    left: 75px;
}
#form .address{

position: absolute;
    top: 382px;
    left: 75px;
}

#form .my-selector-c{

    position: absolute;
    top: 333px;
    left: 56px;
    width: 248px;
}
#form .my-selector-c select{
    height: 41px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    width: 130px;
    margin-top: 8px;
    margin-right: 6px;
    text-indent: 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans TC';
  }
#form .my-selector-c div{
    float: left;
    margin-right: -20px;
  }
#form .send_btn{
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -120px;
    cursor: pointer;
}
#form .rule_btn{

    width: 78px;
    height: 28px;
   /* background-color: antiquewhite;*/
    position: absolute;
    bottom: 128px;
    left: 167px;
}
.form_style {
    width: 225px;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Noto Sans TC';
    color: #000000;
    /* font-family: Microsoft JhengHei,sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    outline: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    z-index: 0;
    background-color: transparent;
  }
#done{
    display: none;
}
  #done .title{

    position: relative;
    width: 288px;
    margin: 0 auto;
    margin-bottom: 25px; 
  }
  #done .fb_btn , .again_btn {

    width: 250px;
    margin: 0 auto;
    margin-bottom: 25px; 
  }
  .date_text{

    width: 310px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .done_txt1{

    width: 216px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .done_txt2{

    width: 75px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .site_btn ,.line_btn{

    width: 272px;
    margin: 0 auto;
    margin-bottom: 44px; 
  }
  .qrcode{
    width: 125px;
    height: 210px;
    margin: 0 auto;
    margin-bottom: 104px;
  }