
#is18{
	position: absolute;
    width: 100%;
    height: 100%;
    min-height: 519px;
}
#index{

    display: none;
}
#index .title{

	position: relative;
    width: 260px;
    margin: 0 auto;
}
#index .title .title01{
    position: absolute;
}
#index .title .title02{
	position: absolute;
    top: 85px;
}
#index .title .title03{
	position: absolute;
    left: 170px;
    top: -20px;
}
#index .title .title04{
	position: absolute;
    top: 155px;
    left: 175px;
}
#index .title .text01{
    position: absolute;
    top: 205px;
    width: 215px;
    left: 18px;
}
#index .title .text02{
	position: absolute;
    top: 275px;
}
#index .btn{
    position: absolute;
    top: 350px;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}
.ahb{
	width: 260px;
    height: 430px;
 /*   -webkit-transform: translatey(0px);
              transform: translatey(0px);*/
    -webkit-animation: float 4s ease-in-out infinite;
            animation: float 4s ease-in-out infinite;
}
.ahb.style01{
	position: absolute;
	background: url("../images/ahb01.png") no-repeat;
    background-size: 100%;
    animation-delay: 1s;
 }
 .ahb.style02{
	position: absolute;
	background: url("../images/ahb02.png") no-repeat;
    background-size: 100%; 
    animation-delay: 2s;
 }
 .ahb.style03{
	position: absolute;
	background: url("../images/ahb03.png") no-repeat;
    background-size: 100%;
    animation-delay: 3s;
 }
 .ahb.style04{
	position: absolute;
	background: url("../images/ahb04.png") no-repeat;
    background-size: 100%;
    animation-delay: 2s;
 }
  .ahb.style05{
	position: absolute;
	background: url("../images/ahb05.png") no-repeat;
    background-size: 100%;
    animation-delay: 1s; 
 }



